<h1>Login Page</h1>
<%= form_with(scope: :session, url:sessions_path) do |form|%>
<div>
<%= form.label :email%>
<%= form.text_field :email%>
</div>
<div>
<%= form.label :Password%>
<%= form.text_field :password%>
</div><br>
<%= form.submit "Login"%>
<% end %>

  

