<html>
  <head>
  </head>
  <body>
<header class="fixed-top navbar-nav nav ">
  <div class="login-form">
  <%= form_with(scope: :session, url:sessions_path) do |form| %>
<div >
<ul class="my-form float-right">

  <li class="nav-item form-inline">
  <div class="input">
  <%= form.label :Email, class:'label-field'%>
  <%= form.text_field :email ,class:"input-field"%>
  </div>
  <div class="input">
  <%= form.label :Password, class:'label-field'%>
  <%= form.password_field :password,class:"input-field"%>
  </div>
  <%= form.submit "Login", id:"login-button"%>
  </li>
</ul>
</div>
<% end %>
</div>
</header>
<div class="row"> 
  <div class="col-6 make-margin">
  Facebook, Inc. is an American online social media and social networking service company based in Menlo Park, California. It was founded by Mark Zuckerberg, along with fellow Harvard College students and roommates Eduardo Saverin, Andrew McCollum, Dustin Moskovitz and Chris Hughes. It is considered one of the Big Four technology companies along with Amazon, Apple, and Google.[10][11]

  </div>
  <div id="user-create " class="col-6">
  <h1>Create New User</h1>
  <%= render 'users/form'%>
  </div>
 </div>
    <footer><p class="footer">copyright, &copy 2019</p></footer>
  </body>
</html>





