<div class="row">
  <div class="col-4"> 
    <div class="card-deck" style="width:400px; height:100%; background-color:white">
    <div class="card bg-light">
    <div class="card-body text-center">
    </div>
  </div>
</div>
  </div>
  <div class="col-4">

<h1>Posts</h1>
<% @posts.each do |post| %>
<div class="card">
  <div class="card-body"><%= post.content %></div>
  <div class="card-body"><%= image_tag post.image.url, size: "300x300" unless post.image.url.blank? %></div> 
  <div class="card-body">Tagged By: <%= post.user.firstname %></div>
  <% if logged_in? %>
  <% if current_user.id == post.user.id%>
  <div class="card-footer row">
  <div class="link-nav"><%= link_to 'Show', post %></div>
  <div class="link-nav"><%= link_to 'Edit', edit_post_path(post) %></div>
  <div class="link-nav"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
  <%end%>
  <%end%>
</div>
<br>
<% end %>

<%= link_to 'New Post', new_post_path, id:"add-post"%>
</div>

</div>