<% if logged_in?%>
   <nav class="navbar navbar-expand-lg navbar-light bg-blue home-page">
    <%= link_to 'FaceBook', posts_path, class:"navbar-brand", id:"logo"%>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Home', posts_path, class:"nav-link home-btn"%>
        </li>
        <li class="nav-item">
          <%= link_to 'create', new_post_path, class:"nav-link home-btn"%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if logged_in? %>
            <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"dropdown-item" %>
            <br>
            <%= link_to "Profile", user_path(current_user.id),class:"dropdown-item" %>
            <br>
            <%= link_to 'New Post', new_post_path, class:"dropdown-item" %>
              <% end%>
            
          </div>
        </li>
      </ul>
    </div>
  </nav>
<% else %> 
<% end %>